<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prueba</title>
    <style>
        .alerta {
            background-color: #6c0ef0;
            color: #ffffff;
            border: 1px solid #ffeeba;
            padding: 15px;
            margin: 20px;
            border-radius: 5px;
            font-family: Arial, sans-serif;
            font-size: 16px;
        }
    </style>
</head>

<body>
    <h1>Pagina de pruebas de Github Actions</h1>
    <div class="alerta">
        ⚠️ Esto es una <strong>prueba de integración continua</strong>.
    </div>
</body>

</html>